// ignoring txt files 
*.txt

// ignoring macos files
*.DS_Store

// ignoring cabal project 
*.cabal
// ignoring generated LICENSE file
LICENSE

// ignoring ghci generated build folder
/dist-newstyle

// ignoring books folder for obvious reasons (CONTENT BIIIIIIG)
/books