// ignoring txt files 
*.txt

// ignoring macos files
*.DS_Store

// ignoring generated LICENSE file
LICENSE

// ignoring ghci generated build folder
/dist-newstyle

// ignoring books folder for obvious reasons (CONTENT BIIIIIIG)
/books

// ignoring book_downloader python environment folder 
/book_downloader/venv